@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: "Lato", sans-serif;
  }

  /* online-flower-hero-section-style-start-here */
#online-flower-hero-section {
    max-width:1286px;
    height:570px;
  margin:0 auto;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:34px 160px 0px 160px;
    gap: 70px;
}


.on-hero-content{
    width:50%
}

.on-hero-content h1{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    line-height: 66px;

    text-align: left;
    margin-bottom: 25px;
}

.on-hero-content p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
 
    text-align: left;
    margin-bottom: 25px;
}

.on-hero-content button{
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
   padding:16px 22px;
   border-radius: 8px;
     border:none;
background: rgb(229, 84, 115);
}
.on-hero-imgages{
    width: 50%;
    height:536px;
    margin: auto;

 
}
.on-hero-imgages img{

    width: 100%;
    height: 100%;
    border: 1px dashed black;

}

 /* online-flower-hero-section-style-ends-here */


 /* our-features-section-style-start-here */
 .our-features{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-width:1286px;
     padding:100px 112px;
     gap: 50px;
     margin: 0 auto;
 }
.our-features-ti-desc{
    width:60%
}
 .our-features-ti-desc h3{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin-bottom:24px;
 }
 .our-features-ti-desc p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
 }

 .our-features-card{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap:24px;
   
}
.our-fe-inner-card1{
    width: 330px;
    height: 400px;
    padding:70px 50px 0px 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.our-fe-inner-card2{
    width: 330px;
    height: 400px;
    padding:113px 50px 0px 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.our-fe-inner-card3{
    width: 330px;
    height: 400px;
    padding:70px 50px 0px 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.our-fe-inner-card1 img , .our-fe-inner-card3 img{
    border-radius: 5px;
           width: 100%;
           height: 100%;

 }

 .our-fe-inner-card2 img{
    border-radius: 5px;
    width: 100%;


 }


.inner-wrap p{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 40px;
text-align: center;
text-decoration:underline;
text-underline-offset: 3px;
margin-top: 30px;
} 
 

 /* our-features-section-style-ends-here */


 /* our-service-section-style-start-here */

 .our-service-section{
    max-width:1286px;
    margin: 0 auto;
    padding:0px 112px 100px;
    
 }
 .our-service-wrap
 {  
    width:100%;
    padding: 85px 100px;
     display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
 }

 .delivary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
 }

 .delivary p{
    color: rgba(39, 39, 39, 0.8);
font-family: Lato;
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: center;

 }

  /* our-service-section-style-ends-here */


  /* hot-deals-sec-style-starts-here */

  .hot-deals-sec{
    max-width: 1286px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 100px;
  }

.hot-deals-text-cont-wrap{
    width: 45%;
    margin:0 auto;
    text-align:center;
}


.hot-deals-text-cont-wrap h2{
    font-size: 35px;
    font-weight: 800;
    line-height: 90px;
   
}

.hot-deals-text-cont-wrap span{
    color: rgb(229, 84, 115);
}
.hot-deals-text-cont-wrap p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    opacity: .7;
    margin-bottom: 30px;
}
.hot-deals-text-cont-wrap button{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding:20px 43px;
    border:none;
    color: white;
    font-weight:600;
    font-size: 15px;
}


.hot-deals-image-wrap{
    width: 45%;
  
}

.hot-deals-image-wrap img{
    width: 45%;
    display: block;
    margin: auto;
}

  /* hot-deals-sec-style-ended-here */


  /* instagram-section-style-start-here  */
.instagram-sec{
    max-width: 1286px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:48px;
    padding:120px 112px 120px;
}
    
.insta-text-cont-wrap{
    text-align:center;
    width: 65%;

}
.insta-text-cont-wrap h3{
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 24px;
}
.insta-text-cont-wrap p{
    color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.insta-card-img-wrap{
    display:flex;
    justify-content:space-between;
    align-items: center;
   /* gap: 24px; */
   width: 100%;
   margin:auto;

}
.insta-card-img-wrap img{
    width:23%;
    display: block;
    margin: 0 auto;
}

  /* instagram-section-style-ends-here  */


  /* subscribe-sec-style-start-here */

  .subscribe-sec{
         max-width: 1286px;
         margin: 0 auto;

  }

.subscribe-cont-wrap{
    border-radius: 8px;
background: url("../asset/images/latest-deals-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 120px 250px;
margin:0px 120px 120px ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:48px; }

  .text-content{
    text-align: center;
  }

.text-content h2{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
   
}

.text-content span{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.7;
}
  
.input-option{
    display: flex;
    gap: 16px;
   


}
.input-option input{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding:22px 300px 23px 22px;
    border: none;
    color: rgba(39, 39, 39, 0.6);
}

.input-option button{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align:center;
    border: none;
    border-radius: 8px;
background: rgb(229, 84, 115);
padding: 18px 31px;
text-transform: capitalize;
}

    /* subscribe-sec-style-ended-here */




    




  
